@import 'global';

main {
    padding: 0 0 2rem;
    & img {
        width: 100%;
        height: 40vh;
        margin: 1rem 0 2rem;
    }

    & form {
        border: 1px solid $primary;
        margin: 2rem;
        padding: 2rem;
    }
}