/* Your styles go here */
@import 'global';

.hero {
    justify-content: center;
    background: url("../background/forest(dark).jpg") no-repeat center center; 
    background-size: cover;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
    & a {
        margin: 1.5rem;
    }

    & p {
        margin: 1.5rem;
    }
}

main {
    padding: 2rem;
    & .volunteer {
        text-align: center;
        border: 1px solid $primary;
        // background-color: $tertiary;
        border-radius: 1rem;
    }

    & h2 {
        padding-top: 2rem;
        margin-bottom: 1rem
    }
    & p {
        padding: 0 4rem;
    }
    & a {
        margin-top: 1rem;
        margin-bottom: 2rem
    }
    
}



